@charset "utf-8";

.submit{
	background-color: #FF0066;
	border: 1px;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px
	font-weight: bold; 
}
.judul{
	border: 6px;
	background-color: #CCCCCC;
	border-radius: 15px;
	width: 450px;
}
body{
    background-color: #3CB371
}
h3{margin-bottom: 2px;
   background-color: #FF0066}